<!-- confirm_playlist.html -->
{% extends "base.html" %}

{% block content %}
    <div class="generated_playlist">
        <h2>Generated playlist:</h2>
        <ul>
            {% for song in predicted_songs %}
                <li>{{ song.name }} - {{ song.artist }}</li>
            {% endfor %}
        </ul>
        <form action="{{ url_for('create_playlist') }}" method="post">
            <input type="hidden" name="predicted_songs" value="{{ predicted_songs }}">
            <input type="submit" value="Create Playlist">
        </form>
    </div>
{% endblock %}
