{% extends "base.html" %}

{% block content %}
    {% if current_user %}
        <h2>{{ current_user.get('display_name') }}, welcome to PlaylistSelection app!</h2>
    {% else %}
        <h2>Welcome to PlaylistSelection app, start with login!</h2>
    {% endif %}
    {% if songs %}
        <p>Generate a Spotify playlist by selecting your favorite tracks.</p>
        <h2>Select Songs:</h2>
        <form id="playlistForm" action="{{ url_for('generate_playlist') }}" method="post">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
            <ul id="myUL">
                {% for song in songs %}
                    <li><label for="song_{{ loop.index }}"><input type="checkbox" name="selected_songs" id="song_{{ loop.index }}" value="{{ song.id }}">{{ song.name }} - {{ song.artist }}</label></li>
                {% endfor %}
            </ul>
            <input type="hidden" id="selectedSongsJSON" name="selected_songs_json">
            <input type="submit" value="Generate Playlist" onclick="prepareSelectedSongs()">
        </form>

        {% if playlist_link %}
            <div id="successNotification" class="notification">
                <span class="close-btn" onclick="closeNotification()">&times;</span>
                <p>Success! Your playlist created. <a href="#" id="notificationLink">Link to playlist</a></p>
            </div>
            <script>showNotification("{{ playlist_link }}")</script>
        {% endif %}
        <script>
            function prepareSelectedSongs() {
                const selectedSongs = [];
                {% for song in songs %}
                    if (document.getElementById("song_{{ loop.index }}").checked) {
                        selectedSongs.push({
                            track_id: "{{ song.track_id }}",
                            name: "{{ song.name }}",
                            artist: "{{ song.artist }}"
                        });
                    }
                {% endfor %}
                document.getElementById("selectedSongsJSON").value = JSON.stringify(selectedSongs);
            }
        </script>
    {% endif %}
    <!-- Other content for the home page -->
{% endblock %}
