<!-- my.html -->
{% extends "base.html" %}

{% block content %}
    <div class="request_info">
        <table>
            <tr>
                <td>Request Name</td>
                <td>Creation Date</td>
            </tr>
            {% for request in requests %}
                <tr>
                    <td><a href="{{ url_for('my_request', request_id=request.uid) }}"> {{ request.name }}</a></td>
                    <td>{{ request.created_at }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
