<!-- requests.html -->
{% extends "base.html" %}

{% block content %}
    <div>
        <strong>Status:</strong> <span>{{ status }}</span>
    </div>
    <div>
        <strong>Name:</strong> <span> {{ name }} </span>
    </div>
    <ul>
        {% for song in songs %}
            <li>{{ song.name }} - {{ song.artist_name }}</li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('create_playlist') }}" method="post">
        <input type="hidden" name="predicted_songs" value="{{ songs }}">
        <input type="submit" value="Create Playlist">
    </form>
{% endblock %}
